*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url('./Assets/image 1.png');
    

}
.navbar{
    background-color: #BD9292;
    width: 1330px;
    height: 70px;
    border-radius: 10px;
    margin: 10px;


}

.fa-brands.fa-youtube {
    position: relative;
    font-size: 50px;
    color: white;
    left: 40px;
    top: 10px;

}
.left-menu{
    position: absolute;
    border: 1px solid white;
    top: 90px;
    left: 10px;
    height: 1200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 10px;
    border: none;
}

.menu-items{
    list-style-type: none;
    font-size: 25px;
    color: white;
    float: left;
    margin-left: 5px;
}
.home, .about, .menu, .contact{
    text-align: center;
    color: white;
    background-color:#BD9292;
    border-radius: 5px;
    margin: 30px;
    padding: 5px;
    width: 120px;
}

.content{
    border: 1px solid wheat;
    border-radius: 5px;
    position: relative;
    top: 2px;
    left: 220px;
    margin: 5px;
    padding: 10px;
    padding-left: 30px;
    height:1200px;
    width: 1120px;
}

.content > h2{
    color: white;
    margin: 30px;
    margin-left: 0;

}
.content > p{
  
    color: white;

}

.chart{
    height: 200px;
}
.chart>h2{
    margin-top: 60px;
    color: white;
    margin-bottom: 50px;

}
.chart > .course1{
    position: relative;
    color: white;
    background-color: #7758CF;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    border-radius: 10px;

}

.chart > .course2{
    position: relative;
    left: 120px;
    bottom: 60px;
    color: white;
    background-color: #E09191;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    border-radius: 10px;

}
.chart > .course3{
    position: relative;
    left: 245px;
    bottom: 120px;
    color: white;
    background-color: #D7AB53;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    border-radius: 10px;
    z-index: 2;
}
.chart > .course4{
    position: relative;
    left: 370px;
    bottom: 460px;
    color: white;
    background-color: #63BE92;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    border-radius: 10px;
    z-index: 1;

}
.chart > .course5{
    position: relative;
    color: white;
    background-color: #7758CF;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    border-radius: 10px;
    bottom: 802px;
    left: 470px;

}

.footer{
    position: absolute;
    color: white;
    bottom: 0px;
    text-align: center;
    background-color:#E09191;
    padding: 80px;
    left: 0;
    width: 1120px;
    font-size: 50px;
}

.fa-solid.fa-phone{
    position: absolute;
    font-size: 40px;
    color:#E09191;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    padding-top: 35px;
    right: 10px;
    bottom: 40px;

}