h6{
    display: flex;
    background-color: rgb(250, 232, 215);
    border-radius: 5px;
    width: 10rem;
    height: 5rem;
    margin: auto;
    align-items: center;
    text-align: center;
    font-weight: 200;
    padding: 10px;
    justify-content: center;
}

.imageTransistion{
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
}